<h1> IdeaDetails </h1>

<table>
  <tr><td>
  <h3> title </h3>
  <p><%= idea.title %> </p>
  <h3> description</h3>
  <p><%= idea.description %></p>
  <h3>resources</h3>
  <p><%= idea.resources %></p>
</tr></td>
</table>
