<h1> IdeaDetails </h1>

<table>
  <tr><td>
  <h3> title </h3>
  <p><%= idea.title %> </p>
  <h3> description</h3>
  <p><%= idea.description %></p>
  <h3>resources</h3>
     <!-- if <p><% /^www.\w+.\w{2,3}$/.match(idea.resources) %></p>
      <a href=<%= idea.resources%> </a>
        <% end %>
      <!-- else  --> 
  <p><%= idea.resources %></p>
</tr></td>
</table>
